<p class="thinUnderline"><%="Culture"%></p>
	
	<%= render 'widgets/widget', 
			locals: {  
								widgetName: "tag_select_box",
								elementName: "tagSelectBox",
								objectName: "TripRequest", 
								objectId: @object.id,
								key: "personal_taste",
								selectOptions: TripRequest.metadata["personal_taste"]["culture"],
								value: @object.personal_taste,
								state: "edit",
								isWidgetOwner: true,
								maxSelections: 10,
								wizardMode: true,
								placeholder: "select_10_trip_elements"
							}
	%>