<% unless current_user %>
	<li class="nav-item desktopNavItem">
		<a class="btn btn-sign-up btnBrand1" data-toggle="modal" data-target="#signupModal">
		<%=I18n.t :sign_in_button%>
		</a>
	</li>
<%else%>
	<li class="nav-item desktopNavItem">
		<a class="nav-link btn-sign-up" href="/logout">
			<p class="lead">Logout</p>
		</a>
	</li>
<%end%>