<% if current_user && current_user.try(:phone_verified) %>
	<div class="col-xs-2 ltruserLogin">
		<%=render 'shared/components/navigation/user_dropdown'%>
	</div>
<%else%>
	<div class="col-xs-2 ltruserLogin">
		<a class="btn btn-sign-up btnBrand1" data-toggle="modal" data-target="#signupModal">
			<%=I18n.t :sign_in_button%>
		</a>
	</div>
<%end%>