<% if current_user  %>
<div class="ltrUserLogin">
	<%=render 'shared/components/navigation/ltr_profile_pic'%>
	<%=render 'shared/components/navigation/user_dropdown'%>
</div>
<%else%>
	<div class="ltrUserLogin">
		<a href="javascript:void(0)" data-toggle="modal" data-target="#signupModal">
			<%=I18n.t :sign_in_button%>
		</a>
		<%=render 'shared/components/navigation/user_dropdown'%>
	</div>
<%end%>