<% if current_direction == :ltr%>
	
	<div class="navigationBar" id="navbarContainer" >
		<%=render "shared/components/navigation/ltr_logo"%>
		<%=render "shared/components/navigation/ltr_user_login"%>
	</div>

<%else%>

	<div class="navigationBar" id="navbarContainer" >
		  <%=render "shared/components/navigation/rtl_user_login"%>
		  <%=render "shared/components/navigation/rtl_logo"%>
	</div>

<%end%>