<div class="rtlInfo hidden-sm-down">
	<a hidden-sm-down href="#">
		<p class="lead"><%=I18n.t :how_it_works%></p>
		<span class="sr-only">(current)</span>
	</a>
</div>

<div class="rtlInfo hidden-sm-up">
	<a href="#">
		<i class="fa fa-lg fa-question mobileIcon" aria-hidden="true"></i>
		<span class="sr-only">(current)</span>
	</a>
</div>