<% if current_user %>
<div class="rtlUserLogin">
	<%=render 'shared/components/navigation/user_dropdown'%>
	<%=render 'shared/components/navigation/rtl_profile_pic'%>
</div>
<%else%>
	<div class="rtlUserLogin">
		<%=render 'shared/components/navigation/user_dropdown'%>
		<a href="javascript:void(0)" data-toggle="modal" data-target="#signupModal">
			<%=I18n.t :sign_in_button%>
		</a>
	</div>
<%end%>

