<div class="btn-group" id="userDropdown">
  <button class="nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    &#9776;
    <span class = "sr-only">Toggle navigation</span>
  </button>
</div>