<%sidebar_class = current_language_direction == :ltr ? "ltrUserSideBar" : "rtlUserSideBar" %>
<div class=<%=sidebar_class%> id="userSideBar" >
  <p>Change Language</p>
  <%supported_locales.each do |k,v|%>
  <a class="dropdown-item" href=<%="/change_locale?l=#{k}" %>> <%=v%> </a>		
  <%end%>
  <div class="dropdown-divider"></div>
  <%if current_user.present?%>
	  <a class="dropdown-item" href="/logout"><%= I18n.t :logout%></a>
	<%else%>
		<a class="dropdown-item" data-toggle="modal" data-target="#signupModal">Login</a>
	<%end%>
</div>