<script>
	openUsersideBar = function() {
  	var sideBar;
  	sideBar = $('#userSideBar');
    sideBar[0].style.transition = "width 2s, height 4s";
  	if (sideBar.is(":visible")) {
    	 sideBar.hide();
       // $('.userSideBarShadow').hide();
  	} 
  	else {
    	 sideBar.show();
       // $('.userSideBarShadow').show();
  	}
	};
</script>
<div class="btn-group userDropdown" id="userDropdown" onclick="openUsersideBar();">
  <button class="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    &#9776;
    <span class = "sr-only">Toggle navigation</span>
  </button>
</div>