<div class="modal fade" id="signupModal" tabindex="-1" data-keyboard=true role="dialog" aria-labelledby="signupModal" aria-hidden="true">
  <div class="modal-dialog signupModal" role="document">
   
       
      <%=render "shared/components/login_template"%>

    </div>
  </div>
</div>