<div class="imageBox">
	<%=cl_image_tag(locals[:value], width: 700, height: 400, crop: :thumb, gravity: :face, class: "img-fluid", id: "coverImage"  )%>
	
	<span class="<%="#{current_direction}imageOverlayText"%>"><%=locals[:overlay_text]%></span>
	
</div>
