</br></br>
	<a href="/admins/site_text/create" >Create New Site Text</a>
	</br></br>
	<div class="accountMemebers">
		<%= render 'shared/components/table', locals: { 
																										keys: [:edit, :key, :text], 
																										values: @site_texts.map{ |t| [ { link: "/admins/site_text/edit/#{t.id}" }, 																t.name, 
																																										t.text
																																								] 
																																						}, 
																										id: "siteTexts" 
																									 } 
		%>
	</div>