<div class="modal fade" id="abstractModal" tabindex="-1" data-keyboard=true data-backdrop='static'  role="dialog" aria-labelledby="abstractModal" aria-hidden="true">
 	<div class="modal-dialog abstractModal" role="document"><%=render "widgets/modals/#{modal_name}"%></div>
</div>