<%locals.merge!({ saveKey: "account_type", renderWizardButton: false })%>

<div class="col-lg-4 col-xs-offset-3">
	<%=render "widgets/button", 
								locals: locals.merge( 
																			class: "btn btnImage fa fa-user", 
																			state: "save",
																			data: "freelancer",
																			button_text: "freelancer"
																		)
	%>
</div>
	<div class="col-lg-4 col-xs-offset-3">
	<%=render "widgets/button", 
								locals: locals.merge( 
																			class: "btn btnImage fa fa-users", 
																			state: "save",
																			data: "business",
																			button_text: "business" 
																		)
	%>
</div>
