<%locals.merge!({ saveKey: "account_type", renderWizardButton: false })%>

<div class="col-sm-6 col-sm-offset-5">
	<%=render "widgets/button", 
								locals: locals.merge( 
																			class: "btn btnImage fa fa-user", 
																			state: "save",
																			data: "freelancer",
																			button_text: "freelancer"
																		)
	%>
	</br>
	<%=render "widgets/button", 
								locals: locals.merge( 
																			class: "btn btnImage fa fa-users", 
																			state: "save",
																			data: "business",
																			button_text: "business" 
																		)
	%>
	</br></br></br>
</div>
