<%id = generate_button_id %>
<a 
	href="javascript:void(0)"
	onclick='return false;'
	class="widgetControl <%= locals[:class] %>"
	id="<%=id%>"
	aria-hidden="true"
>
<span class="buttonText" style="font-family:'Raleway', sans-serif">
	<%=I18n.t locals[:button_text]%>	
</span>
</a>

<script> document.publishEvent('loadButton', { 'widgetData': <%=raw(locals.merge(id: id).to_json)%> } );</script>