<div class="relativeCenter">
  <%=render "widgets/button", 
                      locals: locals.merge( 
                                            class: "btn btn-success halfWidth wizardButton relativeCenter", 
                                            state: "save",
                                            button_text: locals[:saveButtonText] 
                                          )
        %>
  <%if locals[:showCancelButton].to_s == "true" %>
    <%=render "widgets/button", 
                        locals: locals.merge( 
                                              class: "btn btn-danger wizardButton relativeCenter", 
                                              state: "cancel",
                                              button_text: locals[:cancelButtonText]  
                                            )
          %>
  <%end%>
</div>