<div class="wizardHeader">
	<div class="col-lg-12" >
		<div class="row">
			<h1 class="relativeCenter" ><%= I18n.t locals[:wizardConf][:placeholder] %></h1>
			<div class="dropdown-divider"></div>
	</div>
<div>