<div id="editUserText">
	<%=render 'shared/components/text_area'%>
	</br>
	<a class="btn btnBrandSize btnBrand1" id="saveUserAboutText">Save</a>
	<a class="btn btnBrandSize btnBrand2" id="cancelEditUserAboutText" >Cancel</a>
</div>