<div id="editUserText">
	<%=render 'shared/components/text_area'%>
	</br>
	<a class="btn btnBrandSize btnBrand1" id="saveUserAboutText"><%=I18n.t :save%></a>
	<a class="btn btnBrandSize btnBrand2" id="cancelEditUserAboutText" ><%=I18n.t :cancel%></a>
</div>