<div class="col-lg-4 gridItem">
 
  <%= render 'widgets/ugc/image/widget', 
      locals: { 
                widgetName: "image_box",
                elementName: "imageBox",
                objectName: "users", 
                objectId: locals[:user].id, 
                isWidgetOwner: is_widget_owner( locals ),
                imageWidth: 700,
                imageHeight: 400,
                imageCrop: "thumb",
                imageGravity: "face",
                imageTagClass: "img-fluid coverImage",
                key: "cover_image_cloudinary_id",
                value: locals[:user].cover_image,
                overlayText: locals[:user].name
              }
  %>
</div>

<div class="col-lg-8 gridItem">
  <%= render 'widgets/ugc/text/widget', 
  		locals: { 
                widgetName: "text_area_box",
                elementName: "textAreaBox",
                objectName: "users", 
                objectId: locals[:user].id, 
                isWidgetOwner: is_widget_owner( locals ),
                key: "about_text",
                value: locals[:user].about_text,
                placeholder: "write_few_words" 
              }
  %>
</div>
