<div class="row">
  <div class="col-lg-4 gridItem">
    <%=
    render "shared/components/cover_image",
    locals: { overlay_text: current_user.display_name, src: current_user.cover_image } 
    %>

  </div>
  <div class="col-lg-8 gridItem">
    <%= render 'widgets/text_area_box', 
    		locals: { 
                  objectName: "users", 
                  objectId: current_user.id, 
                  isWidgetOwner: current_user.id == params[:user_id],
                  key: "about_text",
                  value: current_user.about_text,
                  placeholder: "write_few_words" 
                }
    %>
  </div>
</div>