<div class="row">
  <div class="col-lg-4 col-lg-push-8 gridItem">
     <%=
    render "shared/components/cover_image",
    locals: { overlay_text: current_user.display_name, src: current_user.cover_image } 
    %>		
  </div>

  <div class="col-lg-8 col-lg-pull-4 gridItem">
	  <%= render 'widgets/widget', 
        locals: { 
                  widgetName: "text_area_box",
                  divClass: ".textAreaBox",
                  objectName: "users", 
                  objectId: locals[:userId],
                  isWidgetOwner: current_user.id.to_s == locals[:userId],
                  key: "about_text",
                  value: current_user.about_text,
                  placeholder: "write_few_words"
                }
    %>
  </div>
</div>