<div class="container" id="meSectionContainer">	

	<div class="accountMemebers">
		<%= render 'shared/components/table', locals: { keys: [:name, :email, :role, :status], values: team_table_data, id: "staffTable"  } %>
	</div>
	</br>
	<%if current_user.is_account_owner?%>
		<a href="/account_user/new"><%=I18n.t :invite_team_member%></a>
	<%end%>

</div>

<script>document.publishEvent( 'loadBootstrapTable', { 'locale': "<%=I18n.locale%>" } )</script>