<% default_active_action = "about_me" %>
<ul class="nav nav-tabs UserProfileNavbar">
	<% available_navtabs.each do |navtab| %>
		<li class="<%=" #{current_direction} userProfileNavItem"%>">
			<%link_class = (navtab == default_active_action ? "nav-link active" : "nav-link") %>
			<a class="<%=link_class%>" id="userNavTab" name="<%=navtab%>" href="#"><%= I18n.t navtab %></a>
		</li>
	<%end%>
</ul>
</br>