<div class="container">
	<%5.times do%>
	  <div class="row">
	    <%4.times do %>
		    <div class="col-md-3 gridItem">
		        <a href="#">
		            <img class="img-fluid" src="https://placehold.it/700x400" alt="">
		        </a>
		        <h3>
		            <a href="#">Project Name</a>
		        </h3>
		        <p class=>
		        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.
		        </p>
		    </div>
	  	<%end%>
	  </div>
	<%end%>
</div>