<%if current_user.id == @user.id %>
	<%= render 'user_navigation_tabs' %>
	<div class="dropdown-divider"></div>
	</br>
	<%= render  default_active, locals: { user: @user } %>
<%else%>
	<%= render 'about_me', locals: { user: @user } %>
<%end%>
