</br></br></br>
<div class="container" id="userProfile">
	<%if current_user.try(:id) == @user.id %>
		<%= render 'user_navigation_tabs', locals: { nav: @nav, user_id: params[:user_id] } %>
		<%= render 'user_profile_content', locals:{ nav: @nav } %>
	<%else%>
		<%= render 'about_me', locals: { user: @user } %>
		<%= render 'my_activities', locals: { user: @user } %>
	<%end%>
</div>