<%if current_user.id.to_s == params[:user_id]%>
	<%= render 'user_navigation_tabs' %>
	<div class="dropdown-divider"></div>
	</br>
	<%= render  default_active, locals: { user_id: params[:user_id] } %>
<%else%>
	<%= render 'about_me', locals: { user_id: params[:user_id] } %>
<%end%>
