<div class=trainerOnboarding>
	<p class="lead"><%=I18n.t "welcome_message"%></p>
	<a class="btn btn-block btn-social btn-facebook centeredText" id="fbTrainerSignIn" >
		<span class="fa fa-facebook"></span>
		<%=I18n.t :login_with_fb%> 
	</a>
</div>