<div class="textAreaBox thinBorder">
	<%=render "widgets/widget_button", 
						locals: locals.merge( class: "textBoxTextBeforeEdit #{current_direction}", state: "edit", button_text: locals[:placeholder] )
	%>
</div>