<div class="textInputBox">
	<div class="row">
		<h1 class="centeredText">
		<%=locals[:value] %>	
		<%=render "widgets/widget_button", 
							locals: locals.merge( class: "btnBrand1 fa fa-pencil #{current_direction}", state: "edit", button_text: "edit" )
		%>
		</h1>	
	</div>
</div>