 <div class=googleMapContainer>
  <%=render "widgets/ugc/location/search_box", locals: locals%>
  <div id="map"></div>
</div>

<script>
  function initMap() {
    var event;
    event = new Event('initMap');
    document.dispatchEvent(event);
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDsLV8D8FUiZuP1XvXZTQkzTKzzj5fgCPc&libraries=places&callback=initMap"
    async defer>
</script>
