 <div class=googleMapContainer>
  <%=render "widgets/ugc/location/search_box", locals: locals%>
  <div id="map"></div>
</div>

<script>
  var event;
  event = new CustomEvent( 'initMap', { 'detail':{ 'place_id': "<%=locals[:value]%>" } } );
  document.dispatchEvent(event);
</script>