 <div class=googleMapContainer>
  <%=render "widgets/ugc/location/search_box", locals: locals%>
  <div id="map"></div>
</div>

<script>
  function initMap() { document.publishEvent('initMap')  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNaxhT2SJvK6MwGjYHB7pZB0Al0IYTknw&libraries=places&callback=initMap"
    async defer>
</script>
