<div class="searchBox">
  <input id="<%=locals[:mapInputId]%>" class="controls pac-input" type="text"
  placeholder="<%="#{I18n.t locals[:placeholder]}"%>" >
	<%= render 'widgets/edit_button_set', locals: locals %>
</div>