
<div class="textAreaBoxTextLocation mediumText"><%= locals[:value].html_safe %></div>
	<%=render "widgets/button", 
				locals: locals.merge( 
																class: "TextAreaBoxEditButton fa fa-pencil #{current_direction.to_s}", 
																state: "edit", 
																button_text: "edit" )
	%>