<h2><%="Dear #{@invitee_name.strip.capitalize}"%></h2>
<P>
<%="#{@inviter_name.strip.capitalize} invited you to join #{@account_inviter_name} team at Activity.Market pro"%>
</P>
<a href=<%="#{root_url}/account/onboarding/#{@inviter_account_id}/#{@invitee_id}"%>>Click here to join</a>