<h2><%="Dear #{@user_name.strip.capitalize}"%></h2>
<P><%="#{@invited_by.strip.capitalize}"%> invited to train at Play</P>
<p> We are very happy to have you on our team and looking forword to work with you</p>
<p>We are sure we will do great things together</p>
<a href=<%="#{root_url}service_provider/onboarding?spid=#{@user_id}"%>>Click here to join</a>