<h2><%="HI #{@user_name}"%></h2>
<P><%="#{@invited_by}"%> have invited to Train at Play</P>
<p> We are very happy to have you on our team and looking forword to work with you</p>
<p>We are sure we will do great things together</p>
<a href="/users/trainer/onboarding">Click here to join</a>