</br>
<h1 ><%= I18n.t locals[:placeholder] %></h1>
<%wizard_data = prepare_wizard_data( locals[:wizardType] )%>
<%wizard_data.each do |value,options| %>
	<%=render "widgets/multiple_state/button", 
							locals: locals.merge( 
																		class: "btn btnBrand1 fullWidth wizardButton #{options['class']} ", 
																		state: "save",
																		value: value,
																		button_text: options["placeholder"] 
																	)
		%>
<%end%>