@import "bootstrap";
@import "bootstrap-social";

body
{
    width: 100%;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

@media (min-width: 320px)  { .mainContainer { z-index: -1; font-size: 65%;  margin-top: 30%;     } }
@media (min-width: 360px)  { .mainContainer { z-index: -1; font-size: 75%;  margin-top: 27.5%;   } }
@media (min-width: 375px)  { .mainContainer { z-index: -1; font-size: 80%;  margin-top: 25%;     } }
@media (min-width: 411px)  { .mainContainer { z-index: -1; font-size: 90%;  margin-top: 24%;     } }
@media (min-width: 414px)  { .mainContainer { z-index: -1; font-size: 90%;  margin-top: 24%;     } }
@media (min-width: 435px)  { .mainContainer { z-index: -1; font-size: 95%;  margin-top: 22%;     } }
@media (min-width: 768px)  { .mainContainer { z-index: -1; font-size: 120%; margin-top: 13.5%;   } }
@media (min-width: 800px)  { .mainContainer { z-index: -1; font-size: 120%; margin-top: 12.5%;   } }
@media (min-width: 1000px) { .mainContainer { z-index: -1; font-size: 120%; margin-top: 7.5%;    } }
@media (min-width: 1500px) { .mainContainer { z-index: -1; font-size: 120%; margin-top: 5%;      } }

.signinLoader{  display: none; }

.NavBarLogo{ width: 4.5em; height: 4em; position: absolute;  }
.ltrNavBarLogo { @extend .NavBarLogo; top:2px; left: 15px; }
.rtlNavBarLogo { @extend .NavBarLogo; top:2px; right: 15px; }

.navBarProfilePic {  
                    border-radius: 2px; 
                    border-style: solid; 
                    border-color: black; 
                    border-width: 1px; 
                    width: 30px; 
                    height: 30px;
                  }

.ltrInfo{ top: 2px; left: 30%; position: absolute; }
.ltrCallUs{ top: 2px; left: 50%; position: absolute; }
.ltrUserLogin{ top: 2px; left: 75%;  position: absolute;  }

.rtlInfo{ top: 2px; right: 30%; position: absolute; }
.rtlCallUs{ top: 2px; right: 50%; position: absolute;  }
.rtlUserLogin{ top: 2px; right: 75%; position: absolute;  }

.userSideBar { 
                width: 50%; 
                top: 5em; 
                border-style: solid; 
                border-width: 1px; 
                border-radius: 2px; 
                border-color: #fff; 
                background-color: #FFB941; 
                display: none; 
                z-index: 2000; 
                position: fixed; 
                text-align: 
                center; opacity:0.95;
                overflow: scroll;
             }

.ltrUserSideBar{ @extend .userSideBar; right: 0;   }
.rtlUserSideBar{ @extend .userSideBar; left:0;  }

.dropdown-item{ color: #5D33F4; }
.userMenuSection{ display: inline; }
.modal{ top: 5em; }
.ModalInput { width: 100%; }
.formModalTitle{ font-weight: bold; }
.centeredText{ text-align: center; }

.navigationBar{  
    top: 0px;
	width: 100%;
	border-bottom: 1px solid #FFB941;
	box-shadow: 4px 4px 10px #FFB941;
	border-radius: 5px;
	height: 5em;
	overflow:hidden;
    position: fixed;
    z-index: 2000;
    background-color: #fff;
}

.nav-link{margin-top: 1.5em; }
.btnBrand{  padding: 2px 4px; font-size: 14px; border-radius: 3px; font-weight: bold;  }
.btnFull{ width: 100%; }
.btnBrand1{ @extend .btnBrand; background-color: #5D33F4; color: #FFB941;  }
.btnBrandCancel{ @extend .btnBrand; background-color: #AF3245; color: #FFB941; }
.btnBrandHover{ text-decoration: none; }
.btnBrand1:hover{ @extend .btnBrandHover; background-color: #FFB941; color: #5D33F4 ; }
.btnBrandCancel:hover{ @extend .btnBrandHover; background-color: #FFB941; color: #AF3245 ;    }
.bthModalForm{ width: 100%; }
.mobileIcon{ color: #5D33F4; height: 100%; width:100%;  padding:10%; }


.fileUploadButton
{
    background: #5D33F4 center top no-repeat;
    overflow: hidden;
    color: #FFB941;
    border-radius: 5px;
    width: 180px;  
    position: relative; 
    padding: 8px 10px 8px 10px;
}

.fileUploadButton:hover
{
    background: #FFB941 center top no-repeat;
    color: #5D33F4;
}

.fileUploadInput
{
    opacity: 0;
    width: 250px;
    height: 35px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.fileName{ color: #fff; }
.addTrainer{ width: 50%; position: absolute; right: 25%; }
.trainerOnboarding{ width: 50%; position: absolute; right: 25%; }

.gridItem {
    margin-bottom: 15px;
}
.textBox { 
            // border-radius: 5px;  
            // border-style: solid; 
            // border-color: #e5e5e5; 
            // border-width: 1px; 
            min-width: 20%; 
            min-height: 15em; 
          }
.textBoxControl{ margin: 5px; }
.textBoxTextLocation{  margin-left: 20px; margin-top: 10px;  }
.textBoxTextBeforeEdit{ @extend .textBoxTextLocation; opacity: 0.3; }


.textBoxEditButton{ position: absolute; bottom: 0.15em; }
.ltrtextBoxEditButton{ @extend .textBoxEditButton; right: 1.2em; }
.rtltextBoxEditButton{ @extend .textBoxEditButton; left: 1.2em; }

.userAboutText:hover{ text-decoration: none; opacity: 1;}

.imageOverlayText { 
                    position: absolute;
                    top: 5px; 
                    width: 50%; 
                    opacity:0.7; 
                    background-color: #fff; 
                    color: black;
                    font-weight: bold; 
                    text-align: center; 
                }
.ltrimageOverlayText{ @extend .imageOverlayText; left: 20px; }
.rtlimageOverlayText{ @extend .imageOverlayText; right: 20px; }

.imageUploadButton
{
    background: #494949 center top no-repeat;
    overflow: hidden;
    color: #fff;
    width: 50%;
    opacity:0.5;
    text-align: center; 
    position: absolute;
    top: 35px; 
    font-weight: bold; 
}
.ltrimageUploadButton{ @extend .imageUploadButton; left: 20px; }
.rtlimageUploadButton{ @extend .imageUploadButton; right: 20px; }

.imageUploadButton:hover
{
    background: #fff center top no-repeat;
    color: #494949;
}

.imageUploadInput
{
    opacity: 0;
    width: 250px;
    height: 35px;
    position: absolute;
    top: 0px;
    left: 0px;
}


.userProfileNavItem{ @extend .nav-item;  } 
.rtluserProfileNavItem{ @extend .userProfileNavItem; margin-bottom: -1px; }
.rtl{ float :right !important; direction: right !important; }
