@import "bootstrap";
@import "bootstrap-social";

body
{
    width: 100%;
    // overflow:hidden;
		font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
 }
.mainContainer{ z-index: -1; }

.signinLoader{  display: none; }

.NavBarLogo{ width: 4.5em; height: 4em; position: absolute;  }
.ltrNavBarLogo { @extend .NavBarLogo; top:2px; left:5px; }
.rtlNavBarLogo { @extend .NavBarLogo; top:2px; right:5px; }

.ProfilePic{  border-radius: 2px; border-style: solid; border-color: black; border-width: 1px; width: 30px; height: 30px; }

.ltrInfo{ top: 2px; left: 30%; position: absolute; }
.ltrCallUs{ top: 2px; left: 50%; position: absolute; }
.ltrUserLogin{ top: 2px; left: 75%;  position: absolute;  }
.ltrProfilePic{   @extend .ProfilePic; top: 2px;  position: absolute; }

.rtlInfo{ top: 2px; right: 30%; position: absolute; }
.rtlCallUs{ top: 2px; right: 50%; position: absolute;  }
.rtlUserLogin{ top: 2px; right: 75%; position: absolute;  }
.rtlProfilePic{ @extend .ProfilePic;  top: 2px; position: absolute; }

.userSideBar { width: 50%; border-style: solid; border-width: 1px; border-radius: 2px; border-color: #fff; background-color: #FFB941; display: none; z-index: 1000; position: absolute; text-align: center; opacity:0.9; }
.ltrUserSideBar{ @extend .userSideBar; right: 0; }
.rtlUserSideBar{ @extend .userSideBar; left:0;  }
.dropdown-item{ color: #5D33F4; }
.userMenuSection{ display: inline; }

.ModalInput { width: 100%; }
.formModalTitle{ font-weight: bold; }
.centeredText{ text-align: center; }

.navigationBar{  
	width: 100%;
	border-bottom: 1px solid #FFB941;
	box-shadow: 4px 4px 10px #FFB941;
	border-radius: 5px;
	height: 5em;
}

.nav-link{margin-top: 1.5em; }
.btn-sign-up{  padding: 2px 4px; font-size: 14px; border-radius: 3px; }
.btnBrand1{ background-color: #5D33F4; color: #FFB941; font-weight: bold; }
.btnBrand1:hover{ background-color: #FFB941; color: #5D33F4 ;    }
.bthModalForm{ width: 100%; }
.mobileIcon{ color: #5D33F4; height: 100%; width:100%;  padding:10%; }
