html{ lang: "he" }
p { direction: rtl; }
a { direction: rtl; }
input { direction: rtl; }
label{ direction: rtl; }
i{ direction: rtl; }
#meSectionContainer{ direction: rtl; }
.UserProfileNavbar{ direction: rtl; }
.modal{ direction: rtl; }