p { direction: rtl; }
input { direction: rtl; }
.modal{ direction: rtl; }

// .navItems{ float: left; marign-right: 20%; }


// .navigationBar{  
// 	width: 100%;
// 	border-bottom: 1px solid #FFB941;
// 	box-shadow: 4px 4px 10px #FFB941;
// }