<div class="dropdown-divider"></div>
<p class=activitySubtitle >Location</p>
<%= render 'widgets/widget', 
	  locals: {  
	            widgetName: "location",
	            elementName: "location",
	            objectName: "Activity",
	            objectId: @activity.id,
	            key: "place_id",
	            value: @activity.place_id,
	            state: params[:state],
	            isWidgetOwner: @is_widget_editor,
	            loadMapAndSearchBox: true,
	            placeholder: "enter_location"            
	          }
%>