<p class=activitySubtitle >Pricing And Booking</p>

<%= render 'widgets/multiple_state/widget', 
	locals: {  
						widgetName: "slider_box",
						elementName: "slider_box",
						objectName: "activities", 
						objectId: @activity.id,
						key: "price",
						value: @activity.price,
						state: params[:state],
						isWidgetOwner: @is_widget_editor,
						sliderSteps: 1,
						dataType: "Integer",
						maxValue: 100,
						placeholder: "placeholderPattern"

					}
%>
</br>
<%= render 'widgets/multiple_state/widget', 
	locals: {  
						widgetName: "slider_box",
						elementName: "slider_box",
						objectName: "activities", 
						objectId: @activity.id,
						key: "max_guest_limit",
						value: @activity.max_guest_limit,
						state: params[:state],
						isWidgetOwner: @is_widget_editor,
						sliderSteps: 1,
						dataType: "Integer",
						maxValue: 100,
						placeholder: "placeholderPattern"

					}
%>