<div class="selectSchedulingType">
	<span>Add:</span>
	<a href="javascript:void(0)" class="selectSchedulingTypeButton" data-scheduling-type="addDates" data-activity-id="<%=params[:activityId]%>">Specific Dates
	</a> 
	|
	<a href="javascript:void(0)" class="selectSchedulingTypeButton" data-scheduling-type="recuringEvent" data-activity-id="<%=params[:activityId]%>">
	 Recuring Event
	</a>
	<script>document.publishEvent('enableSelectSchedulingTypeButtons');</script>
</div>

