<div class="editScheduling">
	<%=render 'widgets/ugc/scheduling/date_time_picker', locals: { id: "specificDate", type: 'dateTime' } %>
	</br>
	<%=render 'select_activity_leader'%>
	</br>
	<a href="javascript:void(0)" 
		 id="saveScheduling" 
		 class="btn btn-success smallBtn" 
		 data-scheduling-type="specificDate" 
		 data-activity-id="<%=locals[:activity].id%>">
		 Add
	</a>
	
	<a href="javascript:void(0)" 
		 id="cancelScheduling" 
		 class="btn btn-danger smallBtn" 
		 data-activity-id="<%=locals[:activity].id%>">
		 Cancel
	</a>
	
	<script>document.publishEvent('enableEditSchedulingButtons');</script>

</div>

