<div class="activityContainer">
	<div class="col-lg-12 gridItem relativeCenter">
		<%= render 'widgets/multiple_state/widget', 
			locals: {  
								widgetName: "activity_setup_node_1",
								elementName: "activitySetupNode1",
								objectId: @activity.id,
								key: "activity_setup_node_1",
								isWidgetOwner: true
							}
		%>
	</div>
</div>