<div class="activityContainer">
	
	<div class="col-lg-8 gridItem">
		<div class="row">
			<%= render 'cover_image'%>
	  </div>
  	</br>

  	<div class="row">
			<h4>Properties<i class="fa fa-tags" aria-hidden="true"></i></h4>
			</br>
  		<%=render 'categories_tags_and_levels'%>
		</div>

  	<div class="row">
		 	<div class="dropdown-divider"></div>
		 	<%= render 'description'%>
  	</div>

	</div>

	<div class="col-lg-4 thinBorder gridItem">
			<p>Scheduling</p>
			<p>xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
			<p>xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
			<p>xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
			<p>xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
			<p>xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
			<p>xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
			<p>xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
			<p>xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
			</br>
			<p>Location</p>
			<p>xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
			<p>xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
			<p>xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
			<p>xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
			<p>xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
			<p>xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
			<p>xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
			<p>xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
			<p>xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
			<p>xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
			<p>xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
			<p>xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
			<p>xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
			<p>xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
	</div>

	<div class="col-lg-12">
		<div class="dropdown-divider"></div>
  	<div class="aboutOrganizer">
			<p>About the Activity Organizer</p>
			<%= render "users/#{current_direction.to_s}_about_me", locals: { user: @activity.user, isWidgetOwner: false } %>
		</div>
  </div>

</div>