<div class="container activityContainer">
	<div class="row">
		<h1 class="centeredText"><%=@activity.title %></h1>
		<div class="dropdown-divider"></div>
	</div>
	</br>
	<div class="row">
		 <%= render 'widgets/widget', 
	    		locals: {  
	    							widgetName: "text_area_box",
	    							divClass: ".textAreaBox",
	    							objectName: "activities", 
	    							objectId: @activity.id,
	    							key: "about_text",
	    							value: @activity.about_text,
	    							state: params[:state],
	    							isWidgetOwner: @is_widget_owner,
	    							placeholder: "describe_your_activity"

	    						}
	    %>
	</div>
</div>