<div class="activityContainer">
	
	<div class="col-lg-8 gridItem">
		<div class="row">
			<%= render 'widgets/ugc/image/widget', 
	    		locals: {  
	    							widgetName: "image_box",
	    							elementName: "imageBox",
	    							objectName: "activities", 
	    							objectId: @activity.id,
	    							key: "cover_image_id",
	    							value: @activity.cover_image,
	    							state: params[:state],
	    							isWidgetOwner: @is_widget_owner,
	    							placeholder: "update_image",
	    							editableOverlayText: true,
	    							overlayText: @activity.title
	    							
	    						}
	    %>
	  </div>

		<div class="row">
		 	<div class="dropdown-divider"></div>
		 	<%= render 'widgets/ugc/text/widget', 
	    		locals: {  
	    							widgetName: "text_area_box",
	    							elementName: "textAreaBox",
	    							objectName: "activities", 
	    							objectId: @activity.id,
	    							key: "about_text",
	    							value: @activity.about_text,
	    							state: params[:state],
	    							isWidgetOwner: @is_widget_owner,
	    							placeholder: "describe_your_activity"

	    						}
	    %>
  	</div>
  	</br>
  	<div class="row">
  		<div class="dropdown-divider"></div>
	  	<p>Tags and Categories</p>
			<p>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
			<p>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
			<p>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
			<p>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
			<p>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
  	</div>

	</div>

	<div class="col-lg-4 thinBorder gridItem">
			<p>Scheduling</p>
			<p>xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
			<p>xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
			<p>xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
			<p>xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
			<p>xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
			<p>xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
			<p>xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
			<p>xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
			</br>
			<p>Location</p>
			<p>xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
			<p>xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
			<p>xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
			<p>xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
			<p>xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
			<p>xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
			<p>xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
			<p>xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
			<p>xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
			<p>xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
			<p>xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
			<p>xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
			<p>xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
			<p>xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
	</div>

	<div class="col-lg-12">
		<div class="dropdown-divider"></div>
  	<div class="aboutOrganizer">
			<p>About the Activity Organizer</p>
			<%= render "users/#{current_direction.to_s}_about_me", locals: { user: @activity.user, isWidgetOwner: false } %>
		</div>
  </div>

</div>