<div class="container activityContainer">
	<div class="row">
		
		<%= render 'widgets/ugc/text/widget', 
	    		locals: {  
	    							widgetName: "text_input_box",
	    							elementName: "textInputBox",
	    							objectName: "activities", 
	    							objectId: @activity.id,
	    							key: "title",
	    							value: @activity.title,
	    							state: params[:state],
	    							isWidgetOwner: @is_widget_owner,
	    							placeholder: "name_it"
	    							
	    						}
	    %>
	</div>
	<div class="dropdown-divider"></div>

	<div class="row">
		<p class="smallText"><%=@activity.user.name%></p>
		<div class="dropdown-divider"></div>
	</div>

	<div class="row">
		
		<div class="col-md-6 gridItem">
			 <%= render 'widgets/ugc/image/widget', 
	    		locals: {  
	    							widgetName: "image_box",
	    							elementName: "imageBox",
	    							objectName: "activities", 
	    							objectId: @activity.id,
	    							key: "cover_image_id",
	    							value: @activity.cover_image,
	    							state: params[:state],
	    							isWidgetOwner: @is_widget_owner,
	    							placeholder: "update_image",
	    							overlayText: @activity.title
	    							
	    						}
	    %>
		</div>
		
		<div class="col-md-6 gridItem">
		 	<%= render 'widgets/ugc/text/widget', 
	    		locals: {  
	    							widgetName: "text_area_box",
	    							elementName: "textAreaBox",
	    							objectName: "activities", 
	    							objectId: @activity.id,
	    							key: "about_text",
	    							value: @activity.about_text,
	    							state: params[:state],
	    							isWidgetOwner: @is_widget_owner,
	    							placeholder: "describe_your_activity"

	    						}
	    %>
		</div>

	</div>
</div>