<div id="enterPhoneTemplate" class="modal-content">
  <%locals ||= {} %>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
      <h4 class='signInModalTitle centeredText'>Please verify your phone number</h4>
      <p class="centeredText">
        Last step before completion
      </p>
  </div>  
    <div class="modal-body">
    	<form id="phoneForm" data-remote="true"  action="/authenticate_phone" accept-charset="UTF-8" method="post">	
				<input name="utf8" type="hidden" value="&#x2713;" />
				<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <%= render "shared/form_helpers/input_field", locals: {input_type: "phone", field_name: :phone, user: locals[:user] } %>
				<button type="submit" class="btn btnBrand1 bthPhoneForm">Send</button>
			</form>
  	</div>
</div>