<div id="loginTemplate" class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
      <h4 class='signInModalTitle centeredText'>Sign In</h4>
      <p class="centeredText">
        Not a Member yet? 
        <a id="dontHaveAccount">Sign Up</a>
      </p>
      <a class="btn btn-block btn-social btn-facebook centeredText" id="fbSignIn" >
        <span class="fa fa-facebook"></span>
          Connect With Facebook
        </a>
  </div>  
    <p class="centeredText" >or connect via email</p>
    <div class="modal-body">
    <form action="/login" id="loginForm" accept-charset="UTF-8" method="post">

      <input name="utf8" type="hidden" value="&#x2713;" />
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

      <div class="form-group">
      <input type="email" name="email" class="form-control ModalInput" id="email" placeholder="Email">
      </div>

      <div class="form-group">
      <input type="password" name="password" class="form-control ModalInput" id="password" placeholder="Password">
      </br>
      <a id="forgotPassword">I forgot my password</a>
      </div>
      <button type="submit" class="btn btnBrand1 bthSignUpForm">Sign in</button>
    </form>
  </div>
</div>