 <div class=googleMapContainer>
  <%if locals[:renderSearchBox] == true %>
		<%=render "widgets/core_inputs/location_search_box", locals: locals%>
  <%end%>
  <%if locals[:hideMap] ==true %>
    <div id="map" class="hidden" ></div>
  <%else%>
    <div id="map"></div>
  <%end%>
</div>

<script>
	<%if locals[:value].present?%>
  	function initMap() { document.publishEvent('initMap', { 'place_id': "<%=locals[:value]%>" }  )  };
  <%else%>
  	function initMap() { document.publishEvent('initMap' )  }
  <%end%>
</script>

<%unless params[:loadScriptAfterServerResponse] == "false" %>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNaxhT2SJvK6MwGjYHB7pZB0Al0IYTknw&libraries=places&callback=initMap"
      async defer>
  </script>
<%else%>
  <script>initMap()</script>
<%end%>



